{% extends "layout.html.twig" %}
{% set page_title = "Add Question - #{afsc.name}" %}
{% block main %}
    {% include "blocks/admin/cdc/afsc/menu.html.twig" %}
    <div class="page-header">
        <h3><span class="text-muted">Add Question</span> - {{ afsc.name }}</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a class="text-primary" href="/admin/cdc/afsc/{{ afsc.uuid }}/questions/add/legacy">Switch to Legacy
                View</a>
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-md-9">
            <div class="well">
                <form action="/admin/cdc/afsc/{{ afsc.uuid }}/questions/add"
                      method="POST"
                      id="question-edit-block">
                    <fieldset>
                        <div class="form-group">
                            <fieldset>
                                <div class="col-md-12">
                                    <label for="questionData">Question and Answer Data</label>
                                    <textarea class="form-control tall"
                                              name="questionData"
                                              id="questionData"
                                              placeholder="Enter question and answer text here...">{% if new_question_tmp.qdata is defined %}{{ new_question_tmp.qdata }}{% endif %}</textarea>
                                </div>
                            </fieldset>
                            <div class="help-block">
                                Copy / Paste the entire question and answer block into the field above.
                            </div>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <label class="col-md-12">
                                    Select the Correct Answer
                                </label>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                {% set answer_labels = [
                                    'A',
                                    'B',
                                    'C',
                                    'D',
                                ] %}
                                {% for i in 0..3 %}
                                    <div class="col-md-3 qdataCorrectAnswer">
                                        <label for="answer_{{ i }}" class="cursor-pointer">
                                        <span class="h2">
                                            {{ answer_labels[i] }}
                                        </span>
                                        </label>
                                        <input type="radio"
                                               id="answer_{{ i }}"
                                               name="answerCorrect"
                                               value="{{ i }}">
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <div class="col-md-12">
                                    <button type="submit"
                                            class="btn btn-success">
                                        Add Question
                                    </button>
                                    <a class="btn btn-primary"
                                       href="/admin/cdc/afsc/{{ afsc.uuid }}/questions">
                                        Cancel
                                    </a>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
