{% extends "layout.html.twig" %}
{% set page_title = "Delete AFSC - #{afsc.name}" %}
{% block main %}
    {% include "blocks/admin/cdc/afsc/menu.html.twig" %}
    <div class="page-header">
        <h3><span class="text-muted">Delete</span> {{ afsc.name }}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Are you sure you want to delete this AFSC? All questions, answers, and associated tests will be
                removed from the database. <strong>THIS CANNOT BE UNDONE.</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning text-center">
                        <div class="panel-heading">
                            <h5>Questions</h5>
                        </div>
                        <div class="panel-body">
                            {{ afscQuestions|number_format }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning text-center">
                        <div class="panel-heading">
                            <h5>Users</h5>
                        </div>
                        <div class="panel-body">
                            {{ afscUsers|number_format }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>FOUO</h5>
                        </div>
                        <div class="panel-body">
                            <strong>{{ afsc.fouo ? 'Yes' : 'No' }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>Obsolete</h5>
                        </div>
                        <div class="panel-body">
                            <strong>{{ afsc.obsolete ? 'Yes' : 'No' }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>Hidden</h5>
                        </div>
                        <div class="panel-body">
                            <strong>{{ afsc.hidden ? 'Yes' : 'No' }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            {% if afsc.version %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Version</h5>
                            </div>
                            <div class="panel-body">
                                <strong>{{ afsc.version }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if afsc.description %}
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Description</h5>
                            </div>
                            <div class="panel-body">
                                <strong>{{ afsc.description }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <form action="/admin/cdc/afsc/{{ afsc.uuid }}/delete"
                          method="POST">
                        <div class="form-group">
                            <button class="btn btn-danger"
                                    type="submit"
                                    title="Delete AFSC">
                                Delete
                            </button>
                            <a href="/admin/cdc/afsc/{{ afsc.uuid }}"
                               class="btn btn-success"
                               title="Return to AFSC home">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}