{% extends "layout.html.twig" %}
{% set page_title = "Manage AFSCs" %}
{% block main %}
    {% include "blocks/admin/cdc/afsc/menu.html.twig" %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm table-header-form-well">
                <div class="container-fluid">
                    <form class="form form-inline" action="/admin/cdc/afsc/add" method="POST">
                        <div class="form-group col-xs-12 col-sm-2">
                            <label class="sr-only" for="name">Name</label>
                            <input name="name" id="name" class="form-control" placeholder="AFSC">
                        </div>
                        <div class="form-group col-xs-12 col-sm-2">
                            <label class="sr-only" for="version">Version</label>
                            <input name="version" id="version" class="form-control" placeholder="Version">
                        </div>
                        <div class="form-group col-xs-12 col-sm-2">
                            <label class="sr-only" for="editcode">Edit Code</label>
                            <input name="editcode" id="editcode" class="form-control" placeholder="Edit Code">
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="sr-only" for="description">Description</label>
                            <input name="description" id="description" class="form-control"
                                   placeholder="Description">
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <div class="row">
                                <div class="container">
                                    <div class="checkbox-inline col-xs-12">
                                        <input type="checkbox" name="fouo" id="fouo" value="1">
                                        <label for="fouo">FOUO</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="checkbox-inline col-xs-12">
                                        <input type="checkbox" name="hidden" id="hidden" value="1">
                                        <label for="hidden">Hidden</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-1 col-xs-12">
                            <button class="btn btn-sm btn-success" id="addAfsc">Add AFSC</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="help-block col-md-12">
            Click on a row to manage data for that AFSC
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="afscs-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Edit Code</th>
                        <th>Description</th>
                        <th>Questions</th>
                        <th>Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for afsc in afscs %}
                        <tr{% if afsc.obsolete or afsc.hidden %} class="text-muted"{% endif %}
                                data-uuid="{{ afsc.uuid }}" style="cursor:pointer">
                            <td>
                                {{ afsc.name }}
                                {% if afsc.isFouo %}
                                    <span class="badge badge-danger badge-sm"
                                          title="FOR OFFICIAL USE ONLY">F</span>
                                {% endif %}
                                {% if afsc.isHidden %}
                                    <span class="badge badge-warning badge-sm"
                                          title="This AFSC is not shown on the registration screen">!</span>
                                {% endif %}
                            </td>
                            <td title="{{ afsc.version }}">
                                {{ afsc.version|length > 40 ? afsc.version|slice(0, 40) ~ '...' : afsc.version }}
                            </td>
                            <td title="{{ afsc.editCode }}">
                                {{ afsc.editCode|length > 10 ? afsc.editCode|slice(0,10) ~ '...' : afsc.editCode }}
                            </td>
                            <td title="{{ afsc.description }}">
                                {{ afsc.description|length > 40 ? afsc.description|slice(0, 40) ~ '...' : afsc.description }}
                            </td>
                            <td>{{ afscQuestions[afsc.uuid]|default(0)|number_format }}</td>
                            <td>{{ afscUsers[afsc.uuid]|default(0)|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if afscs|length > 0 %}
                    {% set tableSelector = "#afscs-table" %}
                    {% set redirectPath = "/admin/cdc/afsc" %}
                    {% include "utilities/table-row-link.html.twig" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}