{% extends "layout.html.twig" %}
{% set page_title = "Pending Role Requests" %}
{% block main %}
    <div class="page-header">
        <h3>Pending Role Requests</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="table-responsive">
                <form action="/admin/pending-roles"
                      method="POST">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="col-xs-1">
                                <label class="sr-only" for="role-checkall">Select All</label>
                                <input type="checkbox"
                                       id="role-checkall"
                                       value="1"
                                       onclick="check_all(this.id, 'pending-roles')">
                            </th>
                            <th>Name</th>
                            <th>Current Role</th>
                            <th>Requested Role</th>
                            <th>Date Registered</th>
                            <th>Date Requested</th>
                        </tr>
                        </thead>
                        <tbody id="pending-roles">
                        {% for pending_role in pending %}
                            <tr>
                                <td>
                                    <input type="checkbox"
                                           title="Toggle Selection"
                                           name="user_uuids[]"
                                           id="user-uuid-{{ pending_role.userUuid }}"
                                           value="{{ pending_role.userUuid }}">
                                </td>
                                {% if users[pending_role.userUuid] %}
                                    <td>
                                        <a href="/admin/users/{{ pending_role.userUuid }}">
                                            {{ users[pending_role.userUuid].name }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if roles[users[pending_role.userUuid].role] %}
                                            {{ roles[users[pending_role.userUuid].role].name }}
                                        {% else %}
                                            UNKNOWN ROLE
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td colspan="2">
                                        <span class="text-danger">UNKNOWN USER</span>
                                    </td>
                                {% endif %}
                                <td>
                                    {% if roles[pending_role.roleUuid] %}
                                        {{ roles[pending_role.roleUuid].name }}
                                    {% else %}
                                        UNKNOWN ROLE
                                    {% endif %}
                                </td>
                                <td>{{ users[pending_role.userUuid].dateRegistered|date("F j, Y \\a\\t g:ia") }}</td>
                                <td>{{ pending_role.dateRequested|date("F j, Y \\a\\t g:ia") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group text-center">
                        <label class="radio-inline">
                            <input type="radio"
                                   id="determination-approve"
                                   name="determination"
                                   value="approve" CHECKED>
                            Approve
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                   id="determination-reject"
                                   name="determination"
                                   value="reject">
                            Reject
                        </label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Process Requests</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
