<nav class="navbar navbar-sub">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#afsc-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand hidden-sm hidden-md hidden-lg">
                AFSC Menu
            </div>
        </div>
        <div class="collapse navbar-collapse" id="afsc-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if cur_url == "/admin/cdc/afsc" %} class="active"{% endif %}>
                    <a href="/admin/cdc/afsc">AFSC List</a>
                </li>
                {% if afsc %}
                    <li{% if cur_url == "/admin/cdc/afsc/" ~ afsc.uuid ~ "/edit" %} class="active"{% endif %}>
                        <a href="/admin/cdc/afsc/{{ afsc.uuid }}/edit">Edit</a>
                    </li>
                    <li{% if cur_url starts with "/admin/cdc/afsc/" ~ afsc.uuid ~ "/questions" %} class="active"{% endif %}>
                        <a href="/admin/cdc/afsc/{{ afsc.uuid }}/questions">Manage Questions</a>
                    </li>
                    {% if afsc.hidden %}
                        <li class="bg-success">
                            <a href="/admin/cdc/afsc/{{ afsc.uuid }}/restore">Restore</a>
                        </li>
                    {% else %}
                        <li class="bg-danger">
                            <a href="/admin/cdc/afsc/{{ afsc.uuid }}/disable">Disable AFSC</a>
                        </li>
                    {% endif %}
                    {% if cdc_debug %}
                        <li class="bg-danger">
                            <a href="/admin/cdc/afsc/{{ afsc.uuid }}/delete">Delete AFSC</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>