<div class="row">
    <div class="col-md-4">
        {% if user %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Taken By</div>
                        <div class="panel-body">
                            {% if not restricted %}
                                <a href="/admin/users/{{ user.uuid }}">
                                    {{ user.name }}
                                </a>
                            {% else %}
                                {{ user.name }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Time Started</div>
                    <div class="panel-body">
                        {{ timeStarted }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Time Completed</div>
                    <div class="panel-body">
                        {{ timeCompleted }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">AFSC(s)</div>
                    <div class="panel-body profile-two-col-container">
                        {% for afsc in afscList %}
                            <div>{{ afsc }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Questions</div>
                    <div class="panel-body">
                        {{ numQuestions }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Num. Missed</div>
                    <div class="panel-body">
                        {{ numMissed }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel {% if testType == constant('CDCMastery\\Models\\Tests\\Test::TYPE_PRACTICE') %}panel-info{% elseif score >= 80 %}panel-success{% else %}panel-danger{% endif %}">
                    <div class="panel-heading">Score</div>
                    <div class="panel-body text-center">
                        <strong>{{ score }}%</strong>
                        {% if testType == constant('CDCMastery\\Models\\Tests\\Test::TYPE_PRACTICE') %}
                            <span class="badge badge-sm badge-info"
                                  title="Practice Test">
                                P
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% if isArchived %}
            <div class="alert alert-info">
                This test has been archived and is no longer available to view. All tests older than one year are
                automatically archived in order to provide the smoothest experience for all of our users.
            </div>
        {% elseif testData %}
            <div class="list-group">
                {% for key, response in testData %}
                    <div class="list-group-item list-group-item-{% if response.answer.correct %}success{% else %}danger{% endif %}">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="list-group-item-heading text-primary">
                                    {{ key + 1 }}.
                                    {{ response.question.text }}
                                </h4>
                            </div>
                        </div>
                        <div class="row row-spacer-sm text-black">
                            <div class="col-xs-12">
                                <p class="list-group-item-text">
                                    {% if not response.answer.correct %}
                                        <span class="glyphicon glyphicon-plus rotate-45 text-danger"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                    {% endif %}
                                    <span class="answer-padding-left">{{ response.answer.text }}</span>
                                </p>
                            </div>
                        </div>
                        {% if not response.answer.correct and response.correct %}
                            <div class="row row-spacer-sm text-black">
                                <div class="col-xs-12">
                                    <p class="list-group-item-text">
                                        <strong>Correct Answer:</strong>
                                        {{ response.correct.text }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                Currently, we do not have the data for this test available.
            </div>
        {% endif %}
    </div>
</div>