<div class="row">
    <div class="col-md-12">
        {% if pagination %}
            <div class="text-center">
                {{ pagination|raw }}
            </div>
        {% endif %}
        <div class="table-responsive">
            <table id="tests-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th class="col-xs-3">{{ sortlink('afscList','AFSC',sort)|raw }}</th>
                    {% if users %}
                        <th>User</th>
                    {% endif %}
                    <th>{{ sortlink('score','Score',sort)|raw }}</th>
                    <th>Questions</th>
                    <th>{{ sortlink('timeStarted','Time Started',sort)|raw }}</th>
                    <th>{{ sortlink('timeCompleted','Time Completed',sort)|raw }}</th>
                </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                    <tr class="{% if test.score >= passing_score %} bg-success{% else %} bg-danger{% endif %}"
                        style="cursor:pointer" data-uuid="{{ test.uuid }}">
                        <td>
                            {% if test.type == constant('CDCMastery\\Models\\Tests\\Test::TYPE_PRACTICE') %}
                                <span class="badge badge-sm badge-info"
                                      title="Practice Test">
                                    P
                                </span>
                            {% else %}
                                <span class="badge badge-sm badge-success"
                                      title="Normal Test">
                                    N
                                </span>
                            {% endif %}
                            {% if test.archived %}
                                <span class="badge badge-sm badge-warning"
                                      title="Archived Test">
                                        A
                                    </span>
                            {% endif %}
                        </td>
                        <td class="hidden-xs hidden-sm" title="{{ test.afsc }}">
                            {% if test.afsc|length > 0 %}
                                {{ test.afsc|length > 20 ? test.afsc|slice(0, 20) ~ '...' : test.afsc }}
                            {% else %}
                                No Data
                            {% endif %}
                        </td>
                        <td class="hidden-md hidden-lg" title="{{ test.afsc }}">
                            {% if test.afsc|length > 0 %}
                                {{ test.afsc|length > 10 ? test.afsc|slice(0, 10) ~ '...' : test.afsc }}
                            {% else %}
                                No Data
                            {% endif %}
                        </td>
                        {% if users and users[test.user.uuid] %}
                            <td>
                                <a href="/admin/users/{{ test.user.uuid }}">
                                    {{ users[test.user.uuid].name }}
                                </a>
                            </td>
                        {% endif %}
                        <td>{{ test.score }}%</td>
                        <td>{{ test.questions }}</td>
                        <td>{{ test.time.started }}</td>
                        <td>{{ test.time.completed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if pagination %}
            <div class="text-center">
                {{ pagination|raw }}
            </div>
        {% endif %}
        {% if tests|length > 0 %}
            {% set tableSelector = "#tests-table" %}
            {% set redirectPath = redirect_prefix %}
            {% include "utilities/table-row-link.html.twig" %}
        {% endif %}
    </div>
</div>
