<div class="row">
    <div class="col-md-12">
        {% if pagination %}
            <div class="text-center">
                {{ pagination|raw }}
            </div>
        {% endif %}
        <div class="table-responsive">
            <table id="tests-table" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th class="col-xs-2">{{ sortlink('afscList','AFSC',sort)|raw }}</th>
                    {% if users %}
                        <th>User</th>
                    {% endif %}
                    <th colspan="2" class="text-center">{{ sortlink('numAnswered','Answered',sort)|raw }} / Total</th>
                    <th>Current</th>
                    <th>{{ sortlink('lastUpdated','Last Updated',sort)|raw }}</th>
                    <th class="col-xs-2">Progress</th>
                </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                    <tr data-uuid="{{ test.uuid }}" class="cursor-pointer">
                        <td>
                            {% if test.type == constant('CDCMastery\\Models\\Tests\\Test::TYPE_PRACTICE') %}
                                <span class="badge badge-sm badge-info"
                                      title="Practice Test">
                                    P
                                </span>
                            {% else %}
                                <span class="badge badge-sm badge-success"
                                      title="Normal Test">
                                    N
                                </span>
                            {% endif %}
                        </td>
                        <td class="hidden-xs hidden-sm" title="{{ test.afsc }}">
                            {% if test.afsc|length > 0 %}
                                {{ test.afsc|length > 10 ? test.afsc|slice(0, 10) ~ '...' : test.afsc }}
                            {% else %}
                                No Data
                            {% endif %}
                        </td>
                        <td class="hidden-md hidden-lg" title="{{ test.afsc }}">
                            {% if test.afsc|length > 0 %}
                                {{ test.afsc|length > 20 ? test.afsc|slice(0, 20) ~ '...' : test.afsc }}
                            {% else %}
                                No Data
                            {% endif %}
                        </td>
                        {% if users and users[test.user.uuid] %}
                            <td>
                                <a href="/admin/users/{{ test.user.uuid }}">
                                    {{ users[test.user.uuid].name }}
                                </a>
                            </td>
                        {% endif %}
                        <td class="text-right">
                            {{ test.state.question.answered|number_format }} /
                        </td>
                        <td>
                            {{ test.questions|number_format }}
                        </td>
                        <td>
                            #{{ test.state.question.cur|number_format }}
                        </td>
                        <td>{{ test.time.updated }}</td>
                        {% if test.questions > 0 %}
                            {% set test_progress = ((test.answered / test.questions) * 100)|round %}
                            {% if test_progress < 40 %}
                                {% set progress_class = "progress-bar-danger" %}
                            {% elseif test_progress < 80 %}
                                {% set progress_class = "progress-bar-warning" %}
                            {% else %}
                                {% set progress_class = "progress-bar-success" %}
                            {% endif %}
                            <td>
                                <div class="progress progress-striped" title="{{ test_progress }}%">
                                    <div id="testProgress"
                                         class="progress-bar {{ progress_class }}"
                                         style="width: {{ test_progress }}%;"></div>
                                </div>
                            </td>
                        {% else %}
                            <td>0%</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if pagination %}
            <div class="text-center">
                {{ pagination|raw }}
            </div>
        {% endif %}
        {% if tests|length > 0 %}
            {% set tableSelector = "#tests-table" %}
            {% set redirectPath = redirect_prefix %}
            {% include "utilities/table-row-link.html.twig" %}
        {% endif %}
    </div>
</div>
