<script>
    var idleTime = 0;
    $(document).ready(function () {
        var idleInterval = setInterval(timerIncrement, 5000);

        $(this).mousemove(function (e) {
            idleTime = 0;
        });

        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 2) {
            window.location.reload();
        }
    }
</script>
<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            {% if user %}
                <div class="panel panel-default text-center">
                    <div class="panel-heading">Taken By</div>
                    <div class="panel-body">
                        {% if not restricted %}
                            <a href="/admin/users/{{ user.uuid }}">
                                {{ user.name }}
                            </a>
                        {% else %}
                            {{ user.name }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default text-center">
                <div class="panel-heading">Time Started</div>
                <div class="panel-body">
                    {{ timeStarted }}
                </div>
            </div>
            <div class="panel panel-default text-center">
                <div class="panel-heading">AFSC(s)</div>
                <div class="panel-body profile-two-col-container">
                    {% for afsc in afscList %}
                        <div>{{ afsc }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading"># Answered</div>
                <div class="panel-body">
                    {{ numAnswered }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">Questions</div>
                <div class="panel-body">
                    {{ numQuestions }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">% Complete</div>
                <div class="panel-body">
                    {{ pctDone }}%
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% if testData %}
            <div class="list-group">
                {% for key, response in testData %}
                    <div class="list-group-item{% if response.answer %} list-group-item-{% if response.answer.correct %}success{% else %}danger{% endif %}{% endif %}">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="list-group-item-heading text-primary">
                                    {{ key + 1 }}.
                                    {{ response.question.text }}
                                </h4>
                            </div>
                        </div>
                        <div class="row row-spacer-sm text-black">
                            <div class="col-xs-12">
                                <p class="list-group-item-text">
                                    {% if not response.answer %}
                                        <em>Unanswered</em>
                                    {% elseif not response.answer.correct %}
                                        <span class="glyphicon glyphicon-plus rotate-45 text-danger"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                    {% endif %}
                                    <span class="answer-padding-left">{{ response.answer.text }}</span>
                                </p>
                            </div>
                        </div>
                        {% if not response.answer.correct and response.correct %}
                            <div class="row row-spacer-sm text-black">
                                <div class="col-xs-12">
                                    <p class="list-group-item-text">
                                        <strong>Correct Answer:</strong>
                                        {{ response.correct.text }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                Currently, we do not have the data for this test available.
            </div>
        {% endif %}
    </div>
</div>