{% extends "layout.html.twig" %}
{% set page_title = "Unactivated Users" %}
{% block main %}
    <div class="page-header">
        <h3>
            Unactivated Users
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="table-responsive">
                <form action="/admin/activations"
                      method="POST">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="col-xs-1">
                                <label class="sr-only" for="activation-checkall">Select All</label>
                                <input type="checkbox"
                                       id="activation-checkall"
                                       value="1"
                                       onclick="check_all(this.id, 'activations')">
                            </th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Date Registered</th>
                            <th>Code Expires</th>
                        </tr>
                        </thead>
                        <tbody id="activations">
                        {% for activation in pending %}
                            <tr>
                                <td>
                                    <input type="checkbox"
                                           title="Toggle Selection"
                                           name="codes[]"
                                           id="code-{{ activation.code }}"
                                           value="{{ activation.code }}">
                                </td>
                                <td>
                                    {% if users[activation.userUuid] %}
                                        <a href="/admin/users/{{ users[activation.userUuid].uuid }}">
                                            {{ users[activation.userUuid].name }}
                                        </a>
                                    {% else %}
                                        <span class="text-danger">UNKNOWN USER</span>
                                    {% endif %}
                                </td>
                                <td>{{ users[activation.userUuid].email }}</td>
                                <td>{{ users[activation.userUuid].dateRegistered|date("F j, Y \\a\\t g:ia") }}</td>
                                <td>{{ activation.dateExpires|date("F j, Y \\a\\t g:ia") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group text-center">
                        <label class="radio-inline">
                            <input type="radio"
                                   id="determination-approve"
                                   name="determination"
                                   value="approve" CHECKED>
                            Activate
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                   id="determination-reject"
                                   name="determination"
                                   value="reject">
                            <span class="text-danger">Disable</span>
                        </label>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Process Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}