<div class="page-header">
    <h3><span class="text-muted">Delete Card</span> - {{ cat.name }}</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            Are you sure you want to delete this flash card? Flash card sessions in progress may encounter issues
            when attempting to display this card. <strong>THIS ACTION CANNOT BE UNDONE.</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Card Front</h5>
                </div>
                <div class="panel-body">
                    {{ card.front }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5>Card Back</h5>
                </div>
                <div class="panel-body">
                    {{ card.back }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <form action="{{ url_prefix }}/cards/{{ cat.uuid }}/data/{{ card.uuid }}/delete"
                      method="POST">
                    <div class="form-group">
                        <button class="btn btn-danger"
                                type="submit"
                                title="Delete Card">
                            Delete
                        </button>
                        <a href="{{ url_prefix }}/cards/{{ cat.uuid }}"
                           class="btn btn-success"
                           title="Return to Card List">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>