<div class="row">
    {% if afscs.available or afscs.pending %}
        <div class="col-xs-12 col-md-4">
            {% if afscs.available %}
                <div class="well well-sm">
                    <form action="{{ url_prefix }}/afsc/add"
                          method="POST">
                        <fieldset>
                            <legend>Add Association</legend>
                            {% if restricted and not role_is_training_manager(role) %}
                                <div class="help-block">
                                    Note: AFSCs marked as "FOUO" require approval from a site administrator or training
                                    manager.
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <fieldset>
                                    <label for="new_afsc">
                                        AFSC
                                    </label>
                                    <select id="new_afsc" name="new_afsc[]" class="form-control" size="8" multiple>
                                        {% for afsc in afscs.available %}
                                            <option value="{{ afsc.uuid }}">
                                                {{ afsc.name }}
                                                {% if afsc.editCode %}[EC {{ afsc.editCode }}]{% endif %}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button type="submit" class="btn btn-sm btn-success">Add</button>
                                </fieldset>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
            {% if afscs.pending %}
                {% if restricted %}
                    <div class="well well-sm">
                        <fieldset>
                            <legend>Pending Associations</legend>
                            <div class="help-block">
                                Pending AFSCs must be approved by a site administrator or training manager who
                                is associated with your account. This may take up to 24 hours.
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    {% for afsc in afscs.pending %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="approve-afsc-{{ afsc.uuid }}">
                                                    {{ afsc.name }}
                                                    {% if afsc.editCode %}<span class="text-info">
                                                        [EC {{ afsc.editCode }}]</span>{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                {% else %}
                    <div class="well well-sm">
                        <form action="{{ url_prefix }}/afsc/approve"
                              method="POST">
                            <fieldset>
                                <legend>Approve Pending</legend>
                                <div class="form-group">
                                    <fieldset>
                                        {% for afsc in afscs.pending %}
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <input type="checkbox"
                                                           id="approve-afsc-{{ afsc.uuid }}"
                                                           name="approve_afsc[]"
                                                           value="{{ afsc.uuid }}">
                                                </div>
                                                <div class="col-md-11">
                                                    <label for="approve-afsc-{{ afsc.uuid }}">
                                                        {{ afsc.name }}
                                                        {% if afsc.editCode %}<span class="text-info">
                                                            [EC {{ afsc.editCode }}]</span>{% endif %}
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <fieldset>
                                        <button type="submit" class="btn btn-sm btn-success">Approve</button>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    <div class="col-xs-12 col-md-6">
        <div class="well well-sm">
            <form action="{{ url_prefix }}/afsc/remove"
                  method="POST">
                <fieldset>
                    <legend>Current Associations</legend>
                    {% if afscs.authorized or afscs.pending %}
                        {% if restricted and not role_is_training_manager(role) %}
                            <div class="help-block">
                                Note: Accidentally removing any AFSCs marked as "FOUO" will require approval from a site
                                administrator or training manager before they can be restored.
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-1 col-md-1">
                                    <input type="checkbox"
                                           id="current-afscs-checkall"
                                           value="1"
                                           onclick="check_all(this.id, 'current-afscs')">
                                </div>
                                <div class="col-xs-11 col-md-11">
                                    <label for="current-afscs-checkall">Select All</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="current-afscs">
                            <fieldset>
                                {% for afsc in afscs.authorized %}
                                    <div class="row">
                                        <div class="col-xs-1 col-md-1">
                                            <input type="checkbox"
                                                   id="del-afsc-{{ afsc.uuid }}"
                                                   name="del_afsc[]"
                                                   value="{{ afsc.uuid }}">
                                        </div>
                                        <div class="col-xs-11 col-md-11">
                                            <label for="del-afsc-{{ afsc.uuid }}">
                                                {{ afsc.name }}
                                                {% if afsc.editCode %}<span class="text-info">
                                                    [EC {{ afsc.editCode }}]</span>{% endif %}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if afscs.pending %}
                                    {% for afsc in afscs.pending %}
                                        <div class="row">
                                            <div class="col-xs-1 col-md-1">
                                                <input type="checkbox"
                                                       id="del-afsc-{{ afsc.uuid }}"
                                                       name="del_afsc[]"
                                                       value="{{ afsc.uuid }}">
                                            </div>
                                            <div class="col-xs-11 col-md-11">
                                                <label for="del-afsc-{{ afsc.uuid }}">
                                                    {{ afsc.name }}
                                                    {% if afsc.editCode %}<span class="text-info">
                                                        [EC {{ afsc.editCode }}]</span>{% endif %}
                                                    <span class="badge badge-warning badge-sm"
                                                          title="PENDING">!</span>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </fieldset>
                        </div>
                    {% else %}
                        <div class="help-block">
                            There are no AFSC associations in the database for
                            {% if restricted %}
                                your account.
                            {% else %}
                                this user.
                            {% endif %}
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</div>