<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="well well-sm">
            <form action="{{ url_prefix }}/subordinates/add"
                  method="POST">
                <fieldset>
                    <legend>Add Subordinate</legend>
                    {% if assocs.available %}
                        <div class="help-block">
                            Below is a list of available accounts found at <strong>{{ base.name }}</strong>.
                            Select one or more of these and click "Add" to being tracking their testing progress.
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <label for="new_users">
                                    Available Accounts
                                </label>
                                <select id="new_users" name="new_users[]" class="form-control" size="16" multiple>
                                    {% for assoc_user in assocs.available %}
                                        <option value="{{ assoc_user.uuid }}">
                                            {{ assoc_user.lastName }}
                                            , {{ assoc_user.firstName }} {{ assoc_user.rank }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <button type="submit" class="btn btn-sm btn-success">Add</button>
                            </fieldset>
                        </div>
                    {% else %}
                        There are no available accounts at <strong>{{ base.name }}</strong>.
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="well well-sm">
            <form action="{{ url_prefix }}/subordinates/remove"
                  method="POST">
                <fieldset>
                    <legend>Current Associations</legend>
                    {% if assocs.cur %}
                        <div class="form-group cur-assocs-list" id="cur-sub-assocs">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <input type="checkbox"
                                               id="cur-sub-checkall"
                                               value="1"
                                               onclick="check_all(this.id, 'cur-sub-assocs')">
                                    </div>
                                    <div class="col-xs-11">
                                        <label for="cur-sub-checkall" class="text-info">
                                            Select All
                                        </label>
                                    </div>
                                </div>
                                {% for assoc_user in assocs.cur %}
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <input type="checkbox"
                                                   id="del-users-{{ assoc_user.uuid }}"
                                                   name="del_users[]"
                                                   value="{{ assoc_user.uuid }}">
                                        </div>
                                        <div class="col-xs-11">
                                            <label for="del-users-{{ assoc_user.uuid }}">
                                                {{ assoc_user.lastName }}
                                                , {{ assoc_user.firstName }} {{ assoc_user.rank }}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </fieldset>
                        </div>
                    {% else %}
                        <div class="help-block">
                            There are no associations in the database for your account.
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</div>
