{% extends "layout.html.twig" %}
{% set page_title = "Manage Supervisor Associations - #{user.name}" %}
{% block main %}
    {% include "blocks/admin/users/menu.html.twig" %}
    <div class="page-header">
        <h3>
            Supervisor Associations for {{ user.name }}
            {% if user.isDisabled %}
                <span class="badge badge-danger" title="This user is currently disabled">DISABLED</span>
            {% endif %}
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="well well-sm">
                <form action="/admin/users/{{ user.uuid }}/supervisors/add"
                      method="POST">
                    <fieldset>
                        <legend>Add Supervisor</legend>
                        {% if assocs.available %}
                            <div class="help-block">
                                Below is a list of supervisors found at <strong>{{ base.name }}</strong>. Select
                                one or more of these and click "Add" to associate this user with those accounts.
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="new_super">
                                        Supervisor
                                    </label>
                                    <select id="new_super" name="new_super[]" class="form-control" size="8" multiple>
                                        {% for super in assocs.available %}
                                            <option value="{{ super.uuid }}">
                                                {{ super.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button type="submit" class="btn btn-sm btn-success">Add</button>
                                </fieldset>
                            </div>
                        {% else %}
                            There are no unassociated supervisor accounts at <strong>{{ base.name }}</strong>.
                        {% endif %}
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="well well-sm">
                <form action="/admin/users/{{ user.uuid }}/supervisors/remove"
                      method="POST">
                    <fieldset>
                        <legend>Current Associations</legend>
                        {% if assocs.su %}
                            <div class="form-group">
                                <fieldset>
                                    {% for super in assocs.su %}
                                        <div class="row">
                                            <div class="col-md-1">
                                                <input type="checkbox"
                                                       id="del-super-{{ super.uuid }}"
                                                       name="del_super[]"
                                                       value="{{ super.uuid }}">
                                            </div>
                                            <div class="col-md-11">
                                                <label for="del-super-{{ super.uuid }}">
                                                    {{ super.name }}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                                </fieldset>
                            </div>
                        {% else %}
                            <div class="help-block">
                                There are no supervisor associations in the database for this user.
                            </div>
                        {% endif %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}