{% extends "layout.html.twig" %}
{% set page_title = "Start Test" %}
{% block main %}
    <div class="page-header">
        <h3>Start New Test</h3>
    </div>
    <div class="row">
        {% if disableNewTest %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    You have too many incomplete tests. Please finish one before starting a new test.
                </div>
            </div>
        {% endif %}
        <div class="col-md-6{% if not tests %} col-md-offset-3{% endif %}">
            <div class="well">
                <form action="/tests/new" method="POST" onsubmit="return disable_submit(this);">
                    <fieldset>
                        <legend>Test Options</legend>
                        <div class="form-group">
                            <fieldset>
                                <label class="col-md-2 control-label">
                                    AFSC(s)
                                </label>
                                <div class="col-md-10" id="newTestAfscList">
                                    <div class="checkbox new-test-afsc">
                                        <label for="afscs-checkall" class="control-label new-test-afsc">
                                            <input type="checkbox"
                                                   id="afscs-checkall"
                                                   onclick="check_all(this.id, 'newTestAfscList');">
                                            <strong>Select All</strong>
                                        </label>
                                    </div>
                                    {% for afsc in afscList %}
                                        <div class="checkbox new-test-afsc">
                                            <label for="afsc-{{ afsc.uuid }}"
                                                   class="control-label new-test-afsc"
                                                   title="{{ afsc.name }} {% if afsc.editCode %}[EC {{ afsc.editCode }}]{% else %}{{ afsc.version }}{% endif %}">
                                                <input type="checkbox"
                                                       name="afscs[]"
                                                       id="afsc-{{ afsc.uuid }}"
                                                       value="{{ afsc.uuid }}">
                                                {{ afsc.name|strtr(45) }}
                                                {% if afsc.editCode %}
                                                    <span class="badge badge-info badge-sm">
                                                        EC {{ afsc.editCode }}
                                                    </span>
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <label for="numQuestions" class="col-md-2 control-label">
                                    Questions
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control"
                                           type="number"
                                           min="100"
                                           max="500"
                                           name="numQuestions"
                                           id="numQuestions"
                                           value="100">
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="reset" class="btn btn-default">Reset</button>
                                    <button type="submit"
                                            class="btn btn-primary ld-ext-right hovering"{% if disableNewTest %} disabled="disabled"{% endif %}>
                                        Start Test
                                        <div class="ld ld-ring ld-spin"></div>
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            {% if tests|length > 0 %}
                <div class="table-responsive">
                    <table id="tests-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>AFSC</th>
                            <th>Questions</th>
                            <th>Time Started</th>
                            <th>Progress</th>
                            <th style="width:15%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in tests %}
                            <tr style="cursor:pointer" data-uuid="{{ test.uuid }}">
                                <td title="{{ test.afsc }}">
                                    {{ test.afsc|length > 20 ? test.afsc|slice(0, 20) ~ '...' : test.afsc }}
                                </td>
                                <td>{{ test.questions }}</td>
                                <td>{{ test.time.started }}</td>
                                {% if test.questions > 0 %}
                                    <td>{{ ((test.answered / test.questions) * 100)|round }}%</td>
                                {% else %}
                                    <td>0%</td>
                                {% endif %}
                                <td>
                                    <div class="btn-group btn-group-justified btn-group-xs">
                                        <a class="btn btn-success"
                                           href="/tests/{{ test.uuid }}"
                                           title="Resume Test">Go</a>
                                        <a class="btn btn-danger"
                                           href="/tests/{{ test.uuid }}/delete"
                                           title="Delete Test">X</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a class="btn btn-warning btn-sm" href="/tests/incomplete/delete">Delete All</a>
                </div>
                {% set tableSelector = "#tests-table" %}
                {% set redirectPath = "/tests" %}
                {% include "utilities/table-row-link.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}