{% extends "layout.html.twig" %}
{% set page_title = "Bases" %}
{% block main %}
    {% include "blocks/admin/bases/menu.html.twig" %}
    <div class="page-header">
        <h3>Manage Bases</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm table-header-form-well">
                <div class="container-fluid">
                    <form class="form form-inline table-header-form" action="/admin/bases/add" method="POST">
                        <div class="form-group col-xs-11 col-lg-11">
                            <label class="sr-only" for="name">Base Name</label>
                            <input name="name" id="name" class="form-control" placeholder="Base Name">
                        </div>
                        <div class="form-group col-xs-1 col-lg-1">
                            <button class="btn btn-sm btn-success"
                                    type="submit">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="help-block col-md-12">
            Click on a row to show an overview of base information
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="bases-table">
                    <thead>
                    <tr>
                        <th class="col-md-6">{{ sortlink('name','Base Name',sort)|raw }}</th>
                        <th class="col-md-2">{{ sortlink('tests-complete','Completed Tests',sort)|raw }}</th>
                        <th class="col-md-2">{{ sortlink('tests-incomplete','Incomplete Tests',sort)|raw }}</th>
                        <th class="col-md-2">{{ sortlink('users','Users',sort)|raw }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for base in bases %}
                        <tr data-uuid="{{ base.uuid }}" class="cursor-pointer">
                            <td>{{ base.name }}</td>
                            <td>{{ base.testsComplete }}</td>
                            <td>{{ base.testsIncomplete }}</td>
                            <td>{{ base.users|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% set tableSelector = "#bases-table" %}
                {% set redirectPath = "/admin/bases" %}
                {% include "utilities/table-row-link.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}