{% extends "layout.html.twig" %}
{% set page_title = "Reset Password - #{user.name}" %}
{% block main %}
    {% include "blocks/admin/users/menu.html.twig" %}
    <div class="page-header">
        <h3>Reset Password for {{ user.name }}</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Please confirm the password reset action below.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="panel panel-primary text-center panel-min-200">
                <div class="panel-heading">
                    <h5>Dates</h5>
                </div>
                <div class="panel-body profile-group-container">
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Registered</label>
                        <div class="profile-data">
                            {{ user.dateRegistered|date }}
                        </div>
                    </div>
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Last Active</label>
                        <div class="profile-data">
                            {% if user.lastActive %}{{ user.lastActive|date }}{% else %}Never{% endif %}
                        </div>
                    </div>
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Last Login</label>
                        <div class="profile-data">
                            {% if user.lastLogin %}{{ user.lastLogin|date }}{% else %}Never{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="panel panel-warning text-center panel-min-200">
                <div class="panel-heading">
                    <h5>Account Information</h5>
                </div>
                <div class="panel-body profile-group-container">
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Role</label>
                        <div class="profile-data">
                            {{ role.name }}
                        </div>
                    </div>
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Username</label>
                        <div class="profile-data">
                            {{ user.handle }}
                        </div>
                    </div>
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">E-mail</label>
                        <div class="profile-data">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="panel panel-info text-center panel-min-200">
                <div class="panel-heading">
                    <h5>Locale</h5>
                </div>
                <div class="panel-body profile-group-container">
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Base</label>
                        <div class="profile-data">
                            <a href="/admin/bases/{{ base.uuid }}">
                                {{ base.name }}
                            </a>
                        </div>
                    </div>
                    <div class="profile-group col-xs-12">
                        <label class="profile-label">Time Zone</label>
                        <div class="profile-data">
                            {{ user.timeZone }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <form action="/admin/users/{{ user.uuid }}/reset-password"
                          method="POST">
                        <div class="form-group">
                            <button class="btn btn-danger"
                                    type="submit"
                                    title="Reset Password">
                                Reset Password
                            </button>
                            <a href="/admin/users/{{ user.uuid }}"
                               class="btn btn-success"
                               title="Return to User Profile">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}