<nav class="navbar navbar-sub">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#user-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand hidden-sm hidden-md hidden-lg">
                User Menu
            </div>
        </div>

        <div class="collapse navbar-collapse" id="user-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if cur_url == "/admin/users" %} class="active"{% endif %}>
                    <a href="/admin/users">User List</a>
                </li>
                {% if user %}
                    <li{% if cur_url == "/admin/users/" ~ user.uuid %} class="active"{% endif %}>
                        <a href="/admin/users/{{ user.uuid }}">Profile</a>
                    </li>

                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Account <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/edit" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/edit">Edit</a>
                            </li>
                            {% if user.isDisabled %}
                                <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/reactivate" %} class="active"{% endif %}>
                                    <a href="/admin/users/{{ user.uuid }}/reactivate">Reactivate</a>
                                </li>
                            {% else %}
                                <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/disable" %} class="active"{% endif %}>
                                    <a href="/admin/users/{{ user.uuid }}/disable">Disable</a>
                                </li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/resend-activation" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/resend-activation">Resend Activation</a>
                            </li>
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/reset-password" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/reset-password">Reset Password</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown{% if cur_url starts with "/admin/users/" ~ user.uuid ~ "/tests" %} active{% endif %}">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Testing <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/tests" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/tests">Completed Tests</a></li>
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/tests/incomplete" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/tests/incomplete">Incomplete Tests</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li{% if cur_url == "/admin/users/" ~ user.uuid ~ "/tests/incomplete/delete" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/tests/incomplete/delete">Delete Incomplete
                                    Tests</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Associations <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li{% if cur_url starts with "/admin/users/" ~ user.uuid ~ "/afsc" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/afsc">AFSCs</a>
                            </li>
                            <li{% if cur_url starts with "/admin/users/" ~ user.uuid ~ "/supervisors" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/supervisors">Supervisors</a>
                            </li>
                            <li{% if cur_url starts with "/admin/users/" ~ user.uuid ~ "/training-managers" %} class="active"{% endif %}>
                                <a href="/admin/users/{{ user.uuid }}/training-managers">Training Managers</a>
                            </li>
                            {% if role_is_training_manager(role) or role_is_supervisor(role) %}
                                <li{% if cur_url starts with "/admin/users/" ~ user.uuid ~ "/subordinates" %} class="active"{% endif %}>
                                    <a href="/admin/users/{{ user.uuid }}/subordinates">Subordinates</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if cur_url == "/admin/users" %}
                <form class="navbar-form navbar-left hidden-xs hidden-sm" action="#">
                    <div class="form-group" id="user-ajax">
                        <input type="text" class="typeahead user-ajax form-control input-sm"
                               placeholder="Search"
                               title="Search">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
{% if cur_url == "/admin/users" %}
    <div class="row hidden-md hidden-lg">
        <div class="col-xs-12">
            <form class="" action="#">
                <div class="form-group form-group-lg" id="user-ajax-mobile">
                    <input type="text" class="typeahead user-ajax form-control input-sm"
                           placeholder="Search"
                           title="Search">
                </div>
            </form>
        </div>
        <script>
            let userAjax = new Bloodhound({
                datumTokenizer: function (data) {
                    return Bloodhound.tokenizers.obj.whitespace(data.name);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/admin/users/search?term=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#user-ajax-mobile .typeahead').typeahead(null, {
                name: 'user-results-mobile',
                limit: 10,
                display: function (e) {
                    return e.name;
                },
                source: userAjax
            });

            $('#user-ajax .typeahead').typeahead(null, {
                name: 'user-results',
                limit: 30,
                display: function (e) {
                    return e.name;
                },
                source: userAjax
            });

            $('input.user-ajax').on('typeahead:selected', function (event, selected_object) {
                window.location.href = selected_object.url
            });
        </script>
    </div>
{% endif %}