{% extends "layout.html.twig" %}
{% set page_title = "Manage AFSC Associations - #{user.name}" %}
{% block main %}
    {% include "blocks/admin/users/menu.html.twig" %}
    <div class="page-header">
        <h3>
            AFSC Associations for {{ user.name }}
            {% if user.isDisabled %}
                <span class="badge badge-danger" title="This user is currently disabled">DISABLED</span>
            {% endif %}
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="well well-sm">
                <form action="/admin/users/{{ user.uuid }}/afsc/add"
                      method="POST">
                    <fieldset>
                        <legend>Add Association</legend>
                        <div class="form-group">
                            <fieldset>
                                <label for="new_afsc">
                                    AFSC
                                </label>
                                <select id="new_afsc" name="new_afsc[]" class="form-control" size="8" multiple>
                                    {% for afsc in afscs.available %}
                                        <option value="{{ afsc.uuid }}">
                                            {{ afsc.name }}
                                            {% if afsc.editCode %}[EC {{ afsc.editCode }}]{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <button type="submit" class="btn btn-sm btn-success">Add</button>
                            </fieldset>
                        </div>
                    </fieldset>
                </form>
            </div>
            {% if afscs.pending %}
                <div class="well well-sm">
                    <form action="/admin/users/{{ user.uuid }}/afsc/approve"
                          method="POST">
                        <fieldset>
                            <legend>Approve Pending</legend>
                            <div class="form-group">
                                <fieldset>
                                    {% for afsc in afscs.pending %}
                                        <div class="row">
                                            <div class="col-md-1">
                                                <input type="checkbox"
                                                       id="approve-afsc-{{ afsc.uuid }}"
                                                       name="approve_afsc[]"
                                                       value="{{ afsc.uuid }}">
                                            </div>
                                            <div class="col-md-11">
                                                <label for="approve-afsc-{{ afsc.uuid }}">
                                                    {{ afsc.name }}
                                                    {% if afsc.editCode %}<span class="text-info">
                                                        [EC {{ afsc.editCode }}]</span>{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button type="submit" class="btn btn-sm btn-success">Approve</button>
                                </fieldset>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="well well-sm">
                <form action="/admin/users/{{ user.uuid }}/afsc/remove"
                      method="POST">
                    <fieldset>
                        <legend>Current Associations</legend>
                        <div class="form-group">
                            <fieldset>
                                {% for afsc in afscs.authorized %}
                                    <div class="row">
                                        <div class="col-md-1">
                                            <input type="checkbox"
                                                   id="del-afsc-{{ afsc.uuid }}"
                                                   name="del_afsc[]"
                                                   value="{{ afsc.uuid }}">
                                        </div>
                                        <div class="col-md-11">
                                            <label for="del-afsc-{{ afsc.uuid }}">
                                                {{ afsc.name }}
                                                {% if afsc.editCode %}<span class="text-info">
                                                    [EC {{ afsc.editCode }}]</span>{% endif %}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if afscs.pending %}
                                    {% for afsc in afscs.pending %}
                                        <div class="row">
                                            <div class="col-md-1">
                                                <input type="checkbox"
                                                       id="del-afsc-{{ afsc.uuid }}"
                                                       name="del_afsc[]"
                                                       value="{{ afsc.uuid }}">
                                            </div>
                                            <div class="col-md-11">
                                                <label for="del-afsc-{{ afsc.uuid }}">
                                                    {{ afsc.name }}
                                                    {% if afsc.editCode %}<span class="text-info">
                                                        [EC {{ afsc.editCode }}]</span>{% endif %}
                                                    <span class="badge badge-warning badge-sm" title="PENDING">!</span>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </fieldset>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}